@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

@theme {
  --color-primary-text: #121212;
  --color-primary-black: #121212;
  --color-limegreen: #1dd75e;
  --color-limegreen-800: #6de182;
  --color-limegreen-700: #86e694;
  --color-limegreen-600: #9ceba6;
  --color-limegreen-500: #b1efb8;
  --color-crimson: #d71d39;
  --color-crimson-800: #e76160;
  --color-crimson-700: #ee7975;
  --color-crimson-600: #f4908b;
  --color-crimson-500: #f9a7a1;
  --color-darkviolet: #bc1dd7;
  --color-darkviolet-800: #cf61e1;
  --color-darkviolet-700: #d879e6;
  --color-darkviolet-600: #e091ea;
  --color-darkviolet-500: #e7a7ef;
  --color-darkgoldenrod: #d68d1c;
  --color-darkgoldenrod-800: #e4a655;
  --color-darkgoldenrod-700: #e9b26d;
  --color-darkgoldenrod-600: #efbf85;
  --color-darkgoldenrod-500: #f4cb9d;
  --color-placeholder: #e3e3e3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #121212;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .carousel-center {
    transform: translateX(0) scale(1);
    z-index: 3;
    opacity: 1;
  }

  .carousel-left {
    transform: translateX(-70%) scale(0.8) rotate(-5deg);
    z-index: 2;
    opacity: 0.7;
  }

  .carousel-right {
    transform: translateX(70%) scale(0.8) rotate(5deg);
    z-index: 2;
    opacity: 0.7;
  }

  .carousel-hidden {
    transform: translateX(200%) scale(0.5);
    z-index: 0;
    opacity: 0;
  }

  .wrapped-card-shadow-green {
    box-shadow: inset 0px 3.31px 3.31px -1.1px rgba(134, 230, 148, 0.15),
      inset 0px -11.02px 11.02px -3.31px rgba(255, 255, 255, 0.4),
      inset 0px -22.05px 16.54px -2.76px rgba(177, 239, 184, 0.5),
      inset 0px -44.1px 33.07px -16.54px rgba(30, 215, 96, 1);
  }

  .wrapped-card-shadow-red {
    box-shadow: inset 0px 3.31px 3.31px -1.1px rgba(238, 121, 117, 0.15),
      inset 0px -11.02px 11.02px -3.31px rgba(255, 255, 255, 0.4),
      inset 0px -22.05px 16.54px -2.76px rgba(249, 167, 161, 0.5),
      inset 0px -44.1px 33.07px -16.54px rgba(215, 29, 57, 1);
  }

  .wrapped-card-shadow-purple {
    box-shadow: inset 0px 3.31px 3.31px -1.1px rgba(216, 121, 230, 0.15),
      inset 0px -11.02px 11.02px -3.31px rgba(255, 255, 255, 0.4),
      inset 0px -22.05px 16.54px -2.76px rgba(231, 167, 239, 0.5),
      inset 0px -44.1px 33.07px -16.54px rgba(188, 29, 215, 1);
  }

  .wrapped-card-shadow-yellow {
    box-shadow: inset 0px 3.31px 3.31px -1.1px rgba(233, 178, 109, 0.15),
      inset 0px -11.02px 11.02px -3.31px rgba(255, 255, 255, 0.4),
      inset 0px -22.05px 16.54px -2.76px rgba(244, 203, 157, 0.5),
      inset 0px -44.1px 33.07px -16.54px rgba(214, 141, 28, 1);
  }

  .underline-color-green {
    filter: invert(62%) sepia(57%) saturate(614%) hue-rotate(88deg) brightness(95%) contrast(95%);
  }

  .underline-color-red {
    filter: invert(34%) sepia(92%) saturate(5258%) hue-rotate(337deg) brightness(83%) contrast(103%);
  }

  .underline-color-purple {
    filter: invert(28%) sepia(90%) saturate(6350%) hue-rotate(284deg) brightness(95%) contrast(98%);
  }

  .underline-color-yellow {
    filter: invert(74%) sepia(76%) saturate(2561%) hue-rotate(348deg) brightness(88%) contrast(90%);
  }

  .color-white {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(83deg) brightness(105%) contrast(101%);
  }
  @media (min-width: 1024px) {
    .carousel-left {
      transform: translateX(-30%) scale(0.8) rotate(-5deg);
    }

    .carousel-right {
      transform: translateX(30%) scale(0.8) rotate(5deg);
    }
  }
}
